@import 'common/var.scss';

.ps-send {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 15px;
    &--border {
        border: 1px solid currentColor;
    }
    &--small {
        font-size: 14px;
        padding: 2px 6px;
    }
    &--big {
        font-size: 18px;
        padding: 4px 10px;
    }
}