@use "mixins/function.scss" as *;

$name: "empty";
$name-b: bem($name);
$name-absolute: bem($name, "", "absolute");

.#{$name-b} {
	&.#{$name-absolute} {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
