.law-form.law-form-inline {
    color: red;
    .ant-row.ant-form-item {
        margin-top: 10px;
    }
    .ant-row.ant-form-item.block {
        display: block;

        &::after {
            content: '';
            display: block;
            clear: both;
        }

        .ant-col.ant-form-item-control {
            margin-top: 10px;
            width: calc(100% - 40px);
            float: right;
        }
    }
}
