html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    #play {
        height: 100%;
        width: 100%;
        .layout{
            height: 100%;
            width: 100%;
            display: flex;
            .play-container {
                flex: 1;
                width: 0;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        
    }
}
table.gridtable {font-family: verdana,arial,sans-serif;font-size:11px;color:#333333;border-width: 1px;border-color: #666666;border-collapse: collapse;}

table.gridtable th {border-width: 1px;padding: 8px;border-style: solid;border-color: #666666; background-color:#dedede;}

table.gridtable td {border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #ffffff;}